flask
flask-login
flask-sqlalchemy
Flask-Migrate
flask-wtf
email-validator
matplotlib
numpy
opencv-python
pandas
sqlalchemy
tensorflow
ultralytics
werkzeug
wtforms
xlsxwriter
pillow
python-dotenv
psycopg2-binary